.W_main_news_category {
	width:30%;
	float:left;
	height:100%;
	background:#f2f2f2;
}
.W_main_news_category  .selectable .ui-selecting { background: #FECA40; }
.W_main_news_category  .selectable .ui-selected { background: #F39814; color: white; }
.W_main_news_category  .selectable { list-style-type: none; margin: 20px  auto 0 auto; padding: 0; width: 80%; }
.W_main_news_category  .selectable li { margin: 3px; padding: 5px;   }
